.inner_second-screen{
    display: flex;
    justify-content: space-between;
}

.second_screen {
    margin-top: 200px;
    background-color: #F3F5F4;
    padding: 80px 0 100px;
}

.second_section-img {
    margin: 0 0 5px 10px;
    pointer-events: none;
}
