.first_screen-section {
    margin-top: 100px;
    display: flex;
    gap: 120px;
}

.first_section {
    width: 580px;
}


.second_section{
    margin-top: 65px;
    max-width: 580px;
}

.main_screen-description {
    margin: 40px 0;
}

.first_section {
    position: relative;
    top: 0;
    left: 0;
  }
  .first-img {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    
  }
  .second-img {
    position: absolute;
    top: 125px;
    left: 130px;
    pointer-events: none;
  }