.footer_form-section {
    padding: 40px 100px;
    box-shadow: 0px 0px 15px 0px #18121E1F;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    top: 90px;
    background-color: #fff;
}






.inner_footer_form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form_title-block {
    width: 340px;
}



.form_upper-title {
    color: #F2BE22;
    font-size: 18px;
}

.form_main-title {
    font-size: 24px;
    line-height: 38px;
    line-height: 31px;
}


.form_main-block {
    width: 540px;
}




.footer_form-main {
    border-radius: 4px;
    width: 230px;
    margin-top: 8px;
    padding: 14px 16px;
    background-color: #F3F5F4;
    border: none;
    outline: none;
    margin-right: 16px;
}


.footer_form-main::placeholder {
    font-family: "Nunito Sans";
    font-size: 14px;
}



#footer_form {
    font-size: 16px;
    font-weight: 600;
    color: #18121E;
}


.form_undertext {
    font-size: 14px;
    margin-top: 8px;
}

.form_conditions {
    text-decoration: underline;
}